.common {
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    margin: 5px;
    flex-direction: column;
    width: 306px;
    align-items: center;
}
.results {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: center;
}
.form {
    width: 250px;
}
.filters {
    margin-top: 15px;
}